{{ "section-locations.css" | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="section-{{ section.id }}" class="locations section-{{ section.id }}-padding">
  <div class="locations__container">
    <div class="locations__container--map">
      <div class="mapouter">
        <div class="gmap_canvas">
          <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=53 NE 40th St, Miami, FL 33137&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://piratebay-proxys.com/">Piratebay</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:500px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:500px;}.gmap_iframe {width:100%!important;height:500px!important;}</style></div>
          <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%20480%20Northeast%2031st%20Street,%20Unit%202203,%20Miami%20Florida%2033137,%20United%20States&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <a href="https://www.whatismyip-address.com"></a><br><style>
            .mapouter {
              position: relative;
              text-align: right;
              height: 500px;
              width: 100%;
            }
            iframe {
              width: 100%;
            }
          </style>
          <a href="https://www.embedgooglemap.net"></a>
          <style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 500px;
              width: 100%;
            }
          </style>
        </div>
      </div>
    </div>
    
    <div class="locations__container--title">
      {%- if section.settings.logo != blank -%}
        {%- assign logo_alt = section.settings.logo.alt | default: 'logo' | escape -%}
        {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
        {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
         class: 'location__heading-logo'
         , widths: '50, 100, 150, 200, 250, 300, 400, 500'
         , height: logo_height
         , width: section.settings.logo_width
         , alt: logo_alt
         }}
      {%- endif -%}
      {%- if section.settings.subheading != blank -%}
        <h3 class="subtitle">{{ section.settings.subheading | escape }}</h3>
      {%- endif -%}
      {%- if section.settings.heading != blank -%}
        <h3 class="title {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h3>
      {%- endif -%}
      <div class="locations__container--title-btns">
        <button class="button button--small">VISIT OUR STORE</button>
        <button class="button button--small js-btnBook">BOOK AN APPOINTMENT</button>
        <p class="js-bookAppointment">Please call (786) 200-1428</br>to make an appointment.</p>
      </div>
    </div>

  </div>
</div>

<script>
  const btnBook = document.querySelector(".js-btnBook")
  const bookAppointment = document.querySelector(".js-bookAppointment")

  btnBook.addEventListener("click", () => {
    btnBook.style.display = "none"
    bookAppointment.style.display = "block"
  })


</script>

{% schema %}
{
  "name": "t:sections.locations.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.locations.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 30,
      "max": 250,
      "step": 10,
      "default": 30,
      "unit": "t:sections.locations.settings.logo_width.unit",
      "label": "t:sections.locations.settings.logo_width.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.locations.settings.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.locations.settings.heading.label",
      "default": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.locations.presets.name"
    }
  ]
}
{% endschema %}